{% extends "layout.html" %}
{% block title %}Team List{% endblock %}
{% block content %}
	<h2>Team List</h2>
	<style>
		#tbl tr td,th{
			padding:5px;
			text-align: center;
		}
	</style>

	<a style="font-weight:Bold" href="{{ url_for('addteam') }}">Add Team</a>

	<table border="1" id="tbl">
	<tr>
		<th>Team ID</th>
		<th>Team Name</th>
	</tr><td>
		{% for team in team_list %}
			<tr>
				<td>{{ team.ID }}</td>
				<td>{{ team.Name }}</td>
				<td><a href="{{ url_for('teamdelete',id=team.ID) }}">Delete Team</a></td>
				<td><a href="{{ url_for('updateteam',id=team.ID) }}">Update Team</a></td>
			</tr><td>
		{% endfor %}
	</td></td></table>
{% endblock %}